# PDF Processing
docling
docling-core
transformers

# AI / Embedding
google-genai
sentence-transformers==5.0.0

# Retrieval
numpy==2.3.1
faiss-cpu==1.11.0
rank-bm25==0.2.2

# App
streamlit==1.46.1
python-dotenv==1.1.1